*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
}

.container {
  max-width: 430px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  padding: 15px 8px 0px 8px;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.lock {
  text-align: center;
}

.lock label {
  color: white;
}

#time {
  color: white;
  font-size: 2em;
  letter-spacing: 4px;
}

#start {
  width: 100%;
  font-size: 20px;
  padding: 15px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
}

.stop-reset {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.stop-reset button {
  font-size: 20px;
  min-width: 116px;
  border: none;
  border-radius: 5px;
  border: 1px solid #33333387;
  padding: 12px 0;
  border: 1px solid gray;
  cursor: pointer;
}

#saved-times-list {
  border: 1px solid gray;
  border-radius: 5px;
  min-height: 50px;
  width: 100%;
  min-width: 300px;
  color: white;
  list-style: none;
  text-align: right;
  overflow: auto;
  padding-top: 12px;
  padding-right: 20px;
  flex: auto;
}
#saved-times-list li {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 2px;
}
#saved-times-list li:first-child {
  font-size: 26px;
  font-weight: bold;
}

#lap {
  background: crimson;
  min-height: 100px;
  width: 100%;
  font-size: 44px;
  padding: 15px 0;
  border: none;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  border: 1px solid gray;
  margin-top: 15px;
}

#lap:active {
  background: #eeff00;
}

@media (orientation: landscape) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1000px;
    gap: 10px;
  }

  #lap {
    grid-column: 1/-1;
  }
}
